@use '../vars' as v;
.container {
  min-height: 100vh;
  max-width: 137rem;
  margin: 0 auto;
  // border: 1px solid red;
}

.home-container {
  display: grid;
  place-items: center;
  align-content: center;

  .info {
    padding: 2rem;
    h3 {
      font-size: 2.4rem;
    }
    h1 {
      font-size: 3.4rem;
      font-weight: bold;
    }
    h4 {
      font-size: 2rem;
    }
  }

  .blur {
    display: none;
  }
  .slider-container {
    display: flex;
    width: 100%;
    min-height: 35rem;
    height: 40rem;
    overflow-x: scroll;
    scroll-snap-type: mandatory;

    .proyects {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100%;
      scroll-snap-align: start;

      .card {
        background: rgba(v.$gray, 0.3);
        height: 100%;
        width: 34rem;
        border-radius: 3rem;
        margin: 3rem;
      }
    }
  }
  // .slider-container {
  //   max-width: 100vw;
  //   height: 40rem;
  //   margin: 0 auto;
    
  //   .proyects {
  //     display: flex;
  //     justify-content: start;
  //     height: 100%;
  //     overflow: scroll;
  //     scroll-snap-type: x proximity;

  //     .card {
  //       width: 100vw;
  //       height: 100%;
  //       background: rgba(v.$gray, 0.3);
  //       margin: 0 3rem;
  //       padding: 3rem;
  //       border-radius: 3rem;

  //       h3 {
  //         width: 100%;
  //       }
  //     }
  //   }
  // }
}

.about-container {
  background: teal;
}

@media (min-width: 768px) {
  .home-container {
    padding: 2rem;
    display: flex;
    .info {
      width: 100%;
    }

    .slider-container {
      width: 100%;
      box-shadow: inset 0 0 6rem 4rem rgba(v.$bg-dark, .9);

      .proyects {
        position: relative;
      }
    }
  }
}