@use '../vars' as v;
.container {
  min-height: 100vh;
  max-width: 137rem;
  margin: 0 auto;
  border: 1px solid red;
}

.home-container {
  display: grid;
  place-items: center;
  align-content: center;

  .info {
    padding: 2rem;
    h3 {
      font-size: 2.4rem;
    }
    h1 {
      font-size: 3.4rem;
      font-weight: bold;
    }
    h4 {
      font-size: 2rem;
    }
  }

  .slider-btn {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: calc(50% - 10rem);
    left: 1rem;
    border: none;
    border-radius: 100%;
    background: rgba(v.$gray, .1);
  }
  
  .rigth {
    left: unset;
    right: 1rem;
  }

  .slider-container {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;

    .proyects {
      display: flex;


      .card {
        // width: 80vw;
        width: 80vw;
        max-width: min(80vw, 30rem);
        height: 40rem;
        margin: 2rem 0 2rem 3rem;
        border-radius: 3rem;
        box-shadow: .1rem .1rem 1rem rgba(v.$gray, .1);
        padding: 1rem;

        &:last-child {
          margin-right: 3rem;
        }
      }
    }
  }
}

.about-container {
  background: teal;
}