@use '../../_vars' as v;

.base {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;

  img {
    height: 3.5rem;
  }

  
}

@media (min-width: 768px) {
  .base {
    margin-right: 1.8rem;
  }
}