@use '../../vars' as v;

.ElementMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: v.$white;
  flex-wrap: wrap;

  &__icon {
    font-size: v.$text-l;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-size: v.$text-sm;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .ElementMenu {
  
    &__icon {
      font-size: v.$text-xl;
    }
  
    &__title {
      display: flex;
      justify-content: center;
      font-size: v.$text-m;
      width: 100%;
    }
  }
}