@use '../../_vars' as v;

.base {
  width: 100vw;
  max-width: v.$max-width;
  padding: .5rem 2rem;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: v.$bg-75;

  a {
    height: 100%;

    img {
      height: 100%;
      width: 6rem;
    }
  }

  div {
    height: 100%;
    
    ul {
      display: flex;
      height: 100%;
      
      li {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.light {
  background: v.$bg-light-75;
  background: v.$soft-gray;
}

@media (min-width: 768px) {
  .light {
    background: v.$morning;
  }
}