@use '../../vars' as v;

@media (min-width: 768px) {
  .MobileNav {
    display: flex;
    height: 5rem;
    width: 100%;
    position: fixed;
    background: v.$bg-75;
    z-index: 100;

    .navContainer {
      display: flex;
      width: 100%;
      max-width: v.$max-width;
      margin: 0 auto;
      padding: 0 2rem;

      .NavHeader, .NavMenu {
        position: relative;
        height: 100%;
        background: transparent;
        padding: 0;
        transition: none;
      }
      .NavMenu {
        width: max-content;

        .NavMenu__menuList {
          background: transparent;
          
          .NavMenu__menuItem {
            padding: 0 1rem;
            border-right: .1rem solid v.$bg-25;

            &:first-child {
              border-left: .1rem solid v.$bg-25;
            }
          }

          .ElementMenu {
            flex-wrap: nowrap;
            align-items: center;

            .ElementMenu__icon {
              margin-right: .5rem;
            }	

            .ElementMenu__title {
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }

  .light {
    .MobileNav {
      background: v.$morning;

      .navContainer {
  
        .NavMenu {
  
          .NavMenu__menuList {
            
            .NavMenu__menuItem {
              border-right: .1rem solid v.$soft-gray;
              transition: .3s all ease;

              &:first-child {
                border-left: .1rem solid v.$soft-gray;
                transition: .3s all ease;
              }
            }
          }
        }
      }
    }
  }
}